body {
  background: url(../images/background.png) no-repeat;
  width: 100%;
  background-size: cover;
}

.App-header,
footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}


footer {
  font-size: 12px;
  color: white;
}
